:root {
    font-size: 62.5%; /* 1rem = 10px */

    --color-primary: #191919;
    --color-secondary: #262626;
    --color-glow: rgba(11, 179, 96, 0.5);
    --color-font: hsla(0, 0%, 100%, 0.902);
}

body {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    font-size: 1.6rem;
}

.container {
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.painel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 5rem;
    padding: 1rem;
    border-radius: 10rem;
    box-shadow: 0px 0px 15px 10px var(--color-glow);
}

.painel button {
    opacity: 0.8;
    transition: 1s ease-in;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    color: var(--color-font);
    font-size: 1.6rem;
}

.painel button.active {
    opacity: 1;
    color: var(--color-secondary);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 10px var(--color-glow);
    background-color: var(--color-secondary);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primary);
    animation: rotateCircle var(--timer-duration) linear infinite;
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6rem;
    color: var(--color-font);
}

.time p:nth-of-type(2) {
    position: relative;
    top: -0.5rem;
    margin-inline: 1rem;
}

.controls {
    margin-top: 3rem;
}

.control-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 3.2rem;
    color: var(--color-font);
}

.controls #reset {
    display: none;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
