:root {
    font-size: 62.5%; /* 1rem = 10px */

    --color-primary: #191919;
    --color-secondary: #262626;
    --color-glow: rgba(255, 255, 255, 0.2); /* Adjust glow color here */
    --color-font: hsla(0, 0%, 100%, 0.902);
}

body {
    font-family: 'Open sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    font-size: 1.6rem;
}

section {
    display: flex;
    align-items: center;
    height: 100%;
}

.container {
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.painel button {
    opacity: 0.8;
    transition: 1s ease-in;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    color: var(--color-font);
    font-size: 1.6rem;
    box-shadow: 0px 0px 10px 0px var(--color-glow); /* Add box-shadow to buttons */
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px var(--color-glow); /* Add box-shadow to the timer */
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    position: relative;
}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primary);
    animation: rotateCircle var(--timer-duration) linear infinite;
    box-shadow: 0px 0px 15px 0px var(--color-glow); /* Add box-shadow to the circle */
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;
}

.controls {
    margin-top: 3rem;
}

.control-button {
    border: none
