:root {
    font-size: 62.5%; /* 1rem = 10px */

    --color-primary: #191919;
    --color-secondary: #262626;
    --color-glow: #ffffff; /* Change the color of the glow */
    --color-font: hsla(0, 0%, 100%, 0.902);
}

/* ... rest of the CSS ... */

.painel button {
    opacity: 0.8;
    transition: 1s ease-in;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    color: var(--color-font);
    font-size: 1.6rem;
    box-shadow: 0px 0px 10px 0px var(--color-glow); /* Add box-shadow to buttons */
}


.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: var(--color-primary);
    animation: rotateCircle var(--timer-duration) linear infinite;
    box-shadow: 0px 0px 15px 0px var(--color-glow); /* Add box-shadow to the circle */
}

.time {
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 5.6rem;
    color: var(--color-font);
}

.time p:nth-of-type(2) {
    position: relative;
    top: -0.5rem;
    margin-inline: 1rem;
}

.controls {
    margin-top: 3rem;
}

.control-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 3.2rem;
    color: var(--color-font);
}

.controls #reset {
    display: none;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
